Repository romnn/postgresimporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: unittest
        name: unittest
        stages: [commit]
        language: system
        entry: python -m postgresimporter.tests.run_tests
        types: [python]

Locked dependencies
  Pipfile.lock
Due: none

Ignore dist artifacts
  .gitignore
Due: none

Deploy to pypi
  .travis.yml
Due: none

Add badges
  README.md
Due: none

Bump version to 0.1.1
  setup.py
Due: isort, black, unittest

[FIX] Environment variables are correctly read
  postgresimporter/cli.py
  postgresimporter/main.py
Due: isort, black, flake8, unittest

Add convenience script for running pre commit check
  pre-commit.sh
Due: none

Bump version to 0.1.2
  setup.py
Due: isort, black, unittest

Add script for tagging new releases
  tag.sh
Due: none

Make m2r dependency optional
  .travis.yml
  setup.py
Due: isort, black, unittest

Include dev dependencies in setup.py
  setup.py
Due: isort, black, unittest

Use plain unittest
  .travis.yml
Due: none

Install development packages before testing
  .travis.yml
Due: none

Ignore egg-info artifacts
  .gitignore
  requirements.txt
Due: none

[FIX] Correct pip command
  .travis.yml
Due: none

Add bumpversion config
  setup.cfg
Due: none

Add version string
  postgresimporter/__init__.py
Due: isort, black, flake8, unittest

Bump version: 0.1.2 → 0.1.2
  setup.cfg
Due: none

Added notice for bumping versions
  README.md
  tag.sh
Due: none

Bump version: 0.1.2 → 0.2.0
  postgresimporter/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, unittest

[FIX] Renamed subminor to patch
  README.md
Due: none

Manually dropped version
  postgresimporter/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, unittest

Bump version: 0.1.2 → 0.1.3
  postgresimporter/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, unittest

Bump version: 0.1.3 → 0.1.4
  postgresimporter/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, unittest

Bump version: 0.1.4 → 1.0.0
  postgresimporter/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, unittest

Cleanup comments
  .travis.yml
Due: none

Pin version of black
  Pipfile
Due: none

update github name
  Dockerfile
  README.md
  setup.py
Due: isort, black, unittest

update dependencies
  Pipfile
  Pipfile.lock
Due: none

migrate to actions
  .github/ISSUE_TEMPLATE.md
  .github/workflows/release.yaml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .tox/.package.lock
  .tox/log/.lock
  .tox/log/GLOB-0.log
  .travis.yml
  Pipfile
  Pipfile.lock
  README.md
  postgresimporter/exec.py
  postgresimporter/main.py
  postgresimporter/tests/common.py
  postgresimporter/tests/run_tests.py
  postgresimporter/tests/test_cli.py
  postgresimporter/tests/test_load.py
  postgresimporter/tests/test_unzip.py
  postgresimporter/utils.py
  pre-commit.sh
  setup.cfg
  setup.py
  tasks.py
  tox.ini
Due: isort, black, flake8, unittest

update badge
  README.md
Due: none

add invoke dependency
  Pipfile
  Pipfile.lock
Due: none

use variable for version
  setup.py
Due: isort, black, unittest

rename version variable
  postgresimporter/__init__.py
Due: isort, black, flake8, unittest

Bump version: 1.0.0 → 1.0.1
  postgresimporter/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, unittest
